body{background-color: #210100;
/* body{background-image: url("assets/boxes.png");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; */
}
/* .grid-container {
    display: grid;
    grid-template-columns: 383fr, 215fr, 124fr, 431fr, 124fr, 168fr;
    grid-template-columns: 173fr, 124fr, 431fr, 124fr, 431fr, 124fr, 431fr, 151fr;
}
.grid_item {
    color: #FECE79;
    margin: 0px;
    padding: 0px;
}
body{resize: url("assets/self3.png");
    max-width: 50px;
    align-content: center;
} */
 .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "a a a b b . c c c . d d"
    "a a a b b . c c c . d d"
    "a a a . . . . . . . . ."
    "a a a e e . f f f . g g"
    "a a a e e . f f f . g g"
    "a a a e e . f f f . g g"
    "a a a . . . . . . . . ."
    "a a a h h . i i i . k k"
    "a a a h h . i i i . k k"
    "a a a h h . i i i . k k"
    ;
  max-width: 1722px;
  min-height: 1117px;
  margin: 0 auto;
}

/* Grid Areas */
/* .grid_item-1{ 
    grid-area: a; 
    .sidebar{
        justify-items: left;
        max-width: 400px;
        position: fixed;
    }
    
    } */
.grid_item-2{ 
    grid-area: b; 
    .box1{
        max-width: 400px;
        transform: translate(-30px);
    }
    }
.grid_item-3{ 
    grid-area: c; 
    .box1{
        max-width: 400px;
        justify-content: center;
    }
    }
.grid_item-4{ 
    grid-area: d; 
    color: #ff0000;
    max-width: 400px;
    justify-content: center;
}
.grid_item-5{ 
    grid-area: e; 
    color: #ff0000;
    max-width: 400px;
    justify-content: center;
}
.grid_item-6{ 
    grid-area: f; 
    color:#ff0000;
    max-width: 400px;
    justify-content: center;

}
.grid_item-7{ 
    grid-area: g; 
    color: #ff0000;
    max-width: 400px;
    justify-content: center;
}
.grid_item-8{ 
    grid-area: h; 
    color: #ff0000;
    max-width: 400px;
    justify-content: center;
}
.grid_item-9{ 
    grid-area: i; 
    color: #ff0000;
    max-width: 400px;
    justify-content: center;
}
.grid_item-10{ 
    grid-area: i; 
    color: #ff0000;
    max-width: 400px;
    justify-content: center;
}

.self_portrait{
    width:400px;
}

.grid_item-1{ 
    grid-area: a; 
    .sidebar{
        justify-items: left;
        max-width: 400px;
        position: fixed;
        
    }
    .insta{
        max-width: 100px;
        position:fixed;
        transform: translate(150px,400px);
    }
    .linkedin{
        max-width: 100px;
        position:fixed;
        transform: translate(150px,550px);
    }
    .outlook{
        max-width: 100px;
        position:fixed;
        transform: translate(150px,700px);
        
    }
    .name_logo{
        max-width: 300px;
        position:fixed;
        transform: translate(50px,35px);
        
    }
        .contact{
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: (12px);
        font-style: normal;
        color: beige;
    }
}